
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
server.iml
*.class
src/META-INF/MANIFEST.MF
out/production/server/META-INF/MANIFEST.MF
.idea/artifacts/server_jar.xml
out/artifacts/server_jar/server.jar
.idea/inspectionProfiles/Project_Default.xml
out/artifacts/server_jar/.DS_Store
out/production/server/org/emernet/server/libs/clilib.jar
out/production/server/META-INF/server.kotlin_module
